<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title-placeholder}}</title>
    <link rel="stylesheet" href="stylesheets/_layout.css">
    <link rel="stylesheet" href="stylesheets/{{stylesheet-placeholder}}.css">
    <script type="text/javascript" src="javascripts/{{stylesheet-placeholder}}.js" defer></script>
</head>
</head>

<body>
    <header>
        <div class="logo-container">
            <a class="logo-link" href="/"><img class="logo" src="images/LogoReviewddiWithoutText.svg"></a>
            <p class="title">Reviewddit</p>
            <a href="/create-review" class="create-review">
                <img alt="createImage"   src="images/addButton.svg">
            </a>
        </div>
        <div class="search-container">
            <input type="search" placeholder="Suchen">
        </div>
        <div class="category-container">
            <select>
                <option>Kategorie</option>
            </select>
        </div>
    </header>
    <div class="container">
        {{body-placeholder}}
    </div>
    <footer>
        <small>&copy; 2019 Reviewddit</small>
    </footer>
</body>

</html>
