<div class="body">
    <div class="home-container">
        <div class="post">
            <a href="/review-details">
                <div class="title">
                    <span><b>Title</b></span>
                    <img class="ratingImage" src="images/sterneBewertungEmpty.png" name="ratingImage">
                </div>
                <div class="content-preview">
                    <img src="images/placeholder.png">
                </div>
            </a>
            <div class="bottom">
                <div class="left">
                    <input type="button" onclick="" value="Upvote" />
                    <span>34</span>
                    <input type="button" value="Downvote" />
                </div>
                <div class="right">
                    <small>12 Kommentare</small>
                </div>
            </div>
        </div>
        <div class="post">
            <a href="/review-details">
                <div class="title">
                    <span><b>What is Lorem Ipsum?</b></span>
                    <img class="ratingImage" src="images/sterneBewertungEmpty.png" name="ratingImage">
                </div>
                <div class="content-preview">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>
            </a>
            <div class="bottom">
                <div class="left">
                    <input type="button" value="Upvote" />
                    <span>34</span>
                    <input type="button" value="Downvote" />
                </div>
                <div class="right">
                    <small>12 Kommentare</small>
                </div>
            </div>
        </div>
        <div class="post">
            <a href="/review-details">
                <div class="title">
                    <span><b>Title</b></span>
                    <img class="ratingImage" src="images/sterneBewertungEmpty.png" name="ratingImage">
                </div>
                <div class="content-preview">
                    <audio src="audio/audio.wav" controls></audio>
                </div>
            </a>
            <div class="bottom">
                <div class="left">
                    <input type="button" value="Upvote" />
                    <span>34</span>
                    <input type="button" value="Downvote" />
                </div>
                <div class="right">
                    <small>12 Kommentare</small>
                </div>
            </div>
        </div>
        <div class="post">
            <a href="/review-details">
                <div class="title">
                    <span><b>Title</b></span>
                    <img class="ratingImage" src="images/sterneBewertungEmpty.png" name="ratingImage">
                </div>
                <div class="content-preview">
                    <video src="video/video.mp4" controls></audio>
                </div>
            </a>
            <div class="bottom">
                <div class="left">
                    <input type="button" value="Upvote" />
                    <span>34</span>
                    <input type="button" value="Downvote" />
                </div>
                <div class="right">
                    <small>12 Kommentare</small>
                </div>
            </div>
        </div>
    </div>
</div>