<div class="body">
    <div id="home-container">
        <div class="post" hidden>
            <a href="/review-details">
                <div class="title">
                    <span><b>{{title}}</b></span>
                    <img class="ratingImage" src="images/sterneBewertungEmpty.png" name="ratingImage">
                </div>
                <div class="content-preview">
                    {{content}}
                </div>
            </a>
            <div class="bottom">
                <div class="left">
                    <input type="button" value="Upvote" />
                    <span>{{score}}</span>
                    <input type="button" value="Downvote" />
                </div>
                <div class="right">
                    <small>{{number-of-comments}} Kommentare</small>
                </div>
            </div>
        </div>
    </div>
</div>