<div class="body">
    <div class="home-container">
        <div class="post img-post">
            <div class="title">
                <p>Title</p>
            </div>
            <div class="content-preview">
                <img src="images/placeholder.png">
            </div>
            <div class="bottom">

            </div>
        </div>
    <div class="post img-post">
        <div class="title">
            <p>Title</p>
        </div>
        <div class="content-preview">
            <img src="images/placeholder.png">
        </div>
        <div class="bottom">
    
        </div>
    </div>
    <div class="post img-post">
            <div class="title">
                <p>Title</p>
            </div>
            <div class="content-preview">
                <img src="images/placeholder.png">
            </div>
            <div class="bottom">
        
            </div>
        </div>
        <div class="post img-post">
                <div class="title">
                    <p>Title</p>
                </div>
                <div class="content-preview">
                    <img src="images/placeholder.png">
                </div>
                <div class="bottom">
            
                </div>
            </div>
            <div class="post img-post">
                    <div class="title">
                        <p>Title</p>
                    </div>
                    <div class="content-preview">
                        <img src="images/placeholder.png">
                    </div>
                    <div class="bottom">
                
                    </div>
                </div>
                <div class="post img-post">
                        <div class="title">
                            <p>Title</p>
                        </div>
                        <div class="content-preview">
                            <img src="images/placeholder.png">
                        </div>
                        <div class="bottom">
                    
                        </div>
                    </div>
                    <div class="post img-post">
                            <div class="title">
                                <p>Title</p>
                            </div>
                            <div class="content-preview">
                                <img src="images/placeholder.png">
                            </div>
                            <div class="bottom">
                        
                            </div>
                        </div>
                        <div class="post img-post">
                                <div class="title">
                                    <p>Title</p>
                                </div>
                                <div class="content-preview">
                                    <img src="images/placeholder.png">
                                </div>
                                <div class="bottom">
                            
                                </div>
                            </div>
    </div>
</div>