<div id="body">
    <div id="card">
        <div id="title">
            <h1>{{title}}</h1><img src="/images/rating/Rating{{rating}}.svg">
        </div>
        <div id="content">
            <div id="fileContainter">
                {{file}}
            </div>
            <div id="info">
                {{text}}
            </div>
            <div class="score">
                <input type="image" src="/images/like.svg" onclick="upvote()"/>
                <span class="scoreText">{{score}}</span>
                <input type="image" src="/images/dislike.svg" onclick="downvote()"/>
            </div>
            <div id="input">
                <input type="text" id="commentInput" placeholder="Write a comment..."></input>
                <input type="button" class="submit" value="post" onclick="javascript:postComment()"/>
            </div>
            <div id="commentsection">
                <div hidden class="comment">
                    <p>{{comment-text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>