<div id="body">
    <div id="card">
        <div id="title">
            <h1>big post</h1><img src="images/sterneBewertungEmpty.png">
        </div>
        <div id="content">
            <div id="picture">
                <h2>big picture</h2>
            </div>
            <div id="commentsection">
                <div id="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div id="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div id="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
            </div>
            <input placeholder="Write a comment..."></input>
        <div>

    </div>
</div>