<div id="body">
    <div id="card">
        <div id="title">
            <h2>Big post</h2><img src="images/sterneBewertungEmpty.png">
        </div>
        <div id="content">
            <div id="picture">
                <img class="reviewImage" src="images/index.png" />
            </div>
            <div id="info">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
            <div id="input">
                <input placeholder="Write a comment..."></input>
                <button>posten</button>
            </div>
            <div id="commentsection">
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
                <div class="comment">
                    <p>comment from usercomment from usercomment from usercomment from usercomment from user</p>
                </div>
            </div>
        </div>
    </div>
</div>
