@import "variables";

html {
  height: 100%;
}

body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: $background-color;
}

$header-height: 4rem;

header {
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: white;
  height: $header-height;
  width: 100%;
  display: flex;
  box-shadow: $box-shadow-bottom;

  .logo-container {
    display: flex;
    align-items: center;
    flex: 1 1 10%;
    height: 100%;
    color: $titleColor;

    .logo,
    .logo-link {
      height: 90%;
      padding-left: 0.1rem;
      width: auto;
    }

    .title {
      font-size: 1.5em;
    }

    >* {
      margin: 0.2rem;
    }

    .create-review {
      height: 60%;

      img {
        height: 100%;
      }
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;

    input {
      width: 90%;
    }
  }

  .category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 40%;

    select {
      width: 80%;
    }
  }

  @media (max-width: 480px) {
    .logo-container {
      .title {
        display: none;
      }

      .create-review {
        position: fixed;
        right: 0.5rem;
        bottom: 2.5rem;
        height: 3rem;
      }
    }

    select,
    input {
      width: 95% !important;
    }
  }
}

.container {
  margin-top: $header-height;
  padding: 1rem;

  input[type="button"] {
    width: 6rem;
    box-shadow: $box-shadow-bottom;
    color: white;
    opacity: $opacityNoHoverButton;

    &:hover {
      opacity: $opacityHoverButton;
    }

    &.submit {
      background-color: limegreen;
    }

    &.cancel {
      background-color: red;
    }
  }

  .score {
    input {
      height: 1rem;
      margin: 0.2rem 0.2rem 0 0;

      &:hover {
        height: 1.2rem;
        margin: 0;
      }
    }

    span {
      margin-bottom: 0.2rem;
    }
  }
}

input,
select {
  height: 2rem;
  box-sizing: border-box;
  border-radius: $border-radius;
}

footer {
  position: fixed;
  bottom: 0px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 2rem;
  width: 100%;
  box-shadow: $box-shadow-top;
}