@import "variables";
html {
  height: 100%;
}

body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

$header-height: 4rem;
header {
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: white;
  height: $header-height;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;

  .logo-container {
    display: flex;
    align-items: center;
    flex: 1 1 20%;
    height: 100%;

    .logo,
    .logo-link {
      height: 100%;
      width: auto;
    }

    .title {
      font-size: 1.5em;
    }

    > * {
      margin: 0.2rem;
    }
  }
  .create-review{
    width: 12%;
    min-width: 2rem;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    input {
      width: 90%;
    }
  }

  .category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    select {
      width: 80%;
    }
  }

  input,
  select {
    height: 1.5rem;
  }

  @media (max-width: 480px) {
    .logo-container {
      .title {
        display: none;
      }
    }
  }
}

.container {
  margin-top: $header-height;
  padding: 1rem;
}
#uploadImage{
  width: 4rem;
}
footer {
  position: fixed;
  bottom: 0px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 2rem;
  $margin: 1rem;
  margin: 0rem $margin;
  width: calc(100% - 2 * #{$margin});
  border-top: 1px solid lightgray;
}
