@import "variables";
html {
  height: 100%;
}

body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: $background-color;
}

$header-height: 4rem;
header {
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: white;
  height: $header-height;
  width: 100%;
  display: flex;
  box-shadow: $box-shadow-bottom;

  .logo-container {
    display: flex;
    align-items: center;
    flex: 1 1 20%;
    height: 100%;

    .logo,
    .logo-link {
      height: 90%;
      padding-left: 0.1rem;
      width: auto;
    }

    .title {
      font-size: 1.5em;
    }

    > * {
      margin: 0.2rem;
    }

    .create-review{
      width: 2.5rem;
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    input {
      width: 90%;
    }
  }

  .category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    select {
      width: 80%;
    }
  }

  input,
  select {
    height: 1.5rem;
  }

  @media (max-width: 480px) {
    .logo-container {
      .title {
        display: none;
      }
    }
  }
}

.container {
  margin-top: $header-height;
  padding: 1rem;
}

footer {
  position: fixed;
  bottom: 0px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 2rem;
  width: 100%;
  box-shadow: $box-shadow-top;
}
