//Logo
$logoColor: #0066adff;
//Title
$titleColor: #0066adff;
$mainTitleColor: blue;
//Buttons
$buttonHover: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
$opacityHoverButton: 1;
$opacityNoHoverButton: 0.6;

$background-color: lightgrey;
$background-color-acent: white;