@import "variables";
@import "stars";
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.create-review {
  display: none;
}

.postReview {
  display: flex;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: center;
  border-bottom: solid;
}

.frame {
  border-style: solid;
  width: 75%;
  background-color: $background-color-acent;
}

.input {
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
}

textarea {
  width: 80%;
  max-width: 80%;
  min-width: 10px;
}
.rating {
  display: flex;
  justify-content: center;
}

.titleCreate {
  padding-left: 10%;
}
h1 {
  font-size: calc(12px + 1vw);
  color: $mainTitleColor;
}
h2 {
  font-size: calc(12px + 0.7vw);
  color: $titleColor;

}
.dropdownCategories {
  display: flex;
  justify-content: center;
}
select {
  width: 80%;
}
.upload {
  display: flex;
  justify-content: center;
}

.uploadImage {
  width: 7%;
  min-width: 40px;
}

.ratingImage {
  width: 25%;
}
.submitButton {
  float: right;
  width: 20%;
  min-width: 82px;
  box-shadow:$box-shadow-bottom;
  background-color: limegreen;
  color: white;
  opacity: $opacityNoHoverButton;
  height: 2.5rem;
}
.submitButton:hover   {
  opacity:$opacityHoverButton;
}
.cancelButton {
  float: left;
  width: 20%;
  min-width: 82px;
  box-shadow:$box-shadow-bottom;
  background-color: red;
  color: white;
  opacity: $opacityNoHoverButton;
  height: 2.5rem;

}
.cancelButton:hover   {
  opacity:$opacityHoverButton;
}
#footer {
  padding: 1rem 1rem 3rem 1rem;
}
@media (max-width: 480px) {
  .titleCreate {
    text-align: center;
    padding-right: 2rem;
  }

  .frame {
    width: 100%;
  }
}

input:not([type="image"]):not([type="button"]),
select {
  height: 2rem;
}
