@import 'variables';
.create-review{
    display: none;
}

.postReview{
    display: flex;
    justify-content: center;
}

#header{
    display: flex;
    justify-content: center;
    border-bottom: solid;
}

.frame{
    border-style: solid;
    width: 75%;
}

.input{
    display: flex;
    justify-content: center;
}

input{
    width: 80%;
}
textarea{
  width: 80%;
}
.rating{
    display: flex;
    justify-content: center;
}

.title{
    padding-left: 10%;
}
h1{
    font-size:calc(12px + 1vw);
}
h2{
    font-size:calc(12px + 0.7vw);
}
.dropdownCategories{
    display: flex;
    justify-content: center;
}
select{
    width: 80%;
}
.upload{
    display: flex;
    justify-content: center;
}

.uploadImage{
    width: 7%;
    min-width: 40px;
}

.ratingImage{
    width: 25%;
}
.submitButton{
    float: right;
    width: 20%;
    min-width: 76px;
}
.cancelButton{
    float: left;
    width: 20%;
    min-width: 76px;
}
#footer{
    padding: 1rem 1rem 2rem 1rem;


}
@media(max-width: 439px ){
    .title{
       text-align: center;
        padding-right: 2rem;
    }
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:calc(20px + 2.5vw);
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

