@import "variables";
@import "stars";
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.create-review {
  display: none;
}

.postReview {
  display: flex;
  justify-content: center;

  textarea, select, input {
    width: 80%;
  }
}

#header {
  display: flex;
  justify-content: center;
  border-bottom: $border-style;
}

.frame {
  border: $border-style;  
  border-radius: $border-radius;
  width: 75%;
  background-color: $background-color-acent;
}

.input {
  display: flex;
  justify-content: center;
}

.rating {
  display: flex;
  justify-content: center;
}

.titleCreate {
  padding-left: 10%;
}

h1 {
  font-size: calc(12px + 1vw);
  color: $mainTitleColor;
}
h2 {
  font-size: calc(12px + 0.7vw);
  color: $titleColor;

}
.dropdownCategories {
  display: flex;
  justify-content: center;
}

.upload {
  display: flex;
  justify-content: center;
}

.ratingImage {
  width: 25%;
}

.submit {
  float: right;
}

.cancel {
  float: left;
}

#footer {
  padding: 1rem 1rem 3rem 1rem;
}
@media (max-width: 480px) {
  .titleCreate {
    text-align: center;
    padding-right: 2rem;
  }

  .frame {
    width: 100%;
  }
}
