@import "variables";
#body {
  display: flex;
  justify-content: center;
}

#card {
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2em;
  border: $border-style;
  border-radius: $border-radius;
  background-color: $background-color-acent;
}

#title {
  padding-left: 1em;
  display: flex;
  border-bottom: $border-style;

  img {
    width: 17%;
    padding: 1rem;
    min-width: 70px;
  }

  h1 {
    width: 80%;
    font-size: calc(12px + 1vw);
    color: $mainTitleColor;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .commentInput {
    margin-bottom: 1rem;
    width: 100%;
  }

  .submit {
    margin-left: 1rem;    
    margin-bottom: 1rem;
  }

  #info {
    margin: 0 1em 1em 1em;
    width: 90%;
  }
}

#input {
  display: flex;
  width: 80%;
}

#picture {
  margin: 1em;
  width: 90%;
  display: flex;
  justify-content: center;
  word-wrap: normal;

}
.reviewImage{
  width: 50%;
}
#commentsection {
  width: 90%;
  display: flex;
  font-size: 80%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.comment {
  padding-left: 5px;
  border-top: $border-style;
}


@media (max-width: 600px) {
  #input {
    flex-direction: column;

    .submit {
      align-self: center;
      margin-left: 0;
      overflow: hidden;
    }
  }

}
@media (max-width: 480px) {
  #card {
    width: 100%;
  }
}
