#body {
  display: flex;
  justify-content: center;
}

#card {
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2em;
  border-style: solid;

}

#title {
  padding-left: 1em;
  display: flex;
  border-bottom: solid;

  img {
    width: 17%;
    padding: 1rem;
    min-width: 70px;
  }

  h2 {
    width: 80%;
    font-size: calc(12px + 0.7vw);
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-bottom: 1em;
    width: 100%;
  }

  button {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  #info {
    margin: 0 1em 1em 1em;
    width: 90%;
  }
}

#input {
  display: flex;
  width: 80%;
  flex-direction: row;
}

#picture {
  margin: 1em;
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: center;
  word-wrap: normal;

  img {
    max-width: 400px;
    max-height: 300px;
  }
}
#commentsection {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.comment {
  margin-bottom: 5px;
  padding-left: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}
button{
  width: 10%;
}

input:not([type="image"]),
select {
  height: 1.5rem;
}

@media (max-width: 600px) {
  #input {
    flex-direction: column;

    button {
      align-self: center;
      margin-left: 0;
      margin-bottom: 1em;
      width: 50%;
      overflow: hidden;
    }
  }
}
